/*Fuente de Google Fonts*/
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300';

@font-face{
    font-family: "BebasKai";
    src: url("media/bebas-kai.woff");
}

body{
    /*Para que quede justo abajito del navbar, pero no tan separado.*/
    padding-top: 51px;
}

footer{
    background-color: black;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 10px;
}
 
span.text-content span{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

a{
    color: black;
    font-weight: 500;
}


/*Clases*/

/*Fuentes a usar*/
.fuenteBK{
    font-family: "BebasKai";
}

.fuenteSCP{
    font-family: 'Source Sans Pro', sans-serif;
}

.text-justify{
    text-align: justify;
}

.navbar{
    background-color: #FFFF01;
    font-family: "BebasKai";
    color: black !important;
}

/*ids*/

#header-gif{
    background-image: url("media/sonorum-gif-7.gif");
    background-size: cover;
    height: 200px;
    
    /*Para que la imagen se centre*/
    display: table;
    width: 100%;
}

/*Imagen centrada*/
#header-gif > div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    /*Para que naidien la arrastre.*/
    pointer-events: none;
}

#logo{
    pointer-events: none;
}

#s1-titulo{
    font-size: 10em;
    font-weight: bold;
}

#p5{
    margin: 0;
    padding: 0;
}

#header-gif-2{
    background-image: url("media/sonorum_4.gif");
}
